.div{
    background-color: red;
}
.arrondi{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.buton{
    border-radius: 200px;
}

#myImg{
    width: 200px;
    height: 200px;
    text-align: center;
}
